$square: #FFCC00;
$triangle: #C837B1;
$circle: #71C837;

$squareLight: lighten($square, 20%);
$triangleLight: lighten($triangle, 20%);
$circleLight: lighten($circle, 20%);

$squareDark: darken($square, 10%);
$triangleDark: darken($triangle, 10%);
$circleDark: darken($circle, 10%);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  background-color: #151515;
  overflow: hidden;
}

.hidden-desktop {
  display: none;
}

.landscape-warning {
  display: none;
}

.instructions {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  z-index: 999;
}

.instruction-text {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

.instruction-col {
  padding: 0 2rem;
}

table {
  border-collapse: collapse;
  font-size: 80%;
}

table td, table th {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.btn {
  background-color: $triangle;
  color: #fff;
  border: 0;
  border-radius: 1px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  margin: 1rem 0 0 0;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: darken($triangle, 5%);
  }
}

#game {
  margin: auto;
}

.menu-gui {
  background-color: #fff;
  padding: 2rem;
  margin: auto;
  align-self: center;
}

.game-gui {
  display: flex;
  flex-direction: column;
}

.info {
  background-color: #eee;
  color: #222;
  display: flex;
  border-radius: 1px 1px 0 0;

  .points-total {
    flex: 1 1 auto;
    margin: auto;
    font-weight: bold;
    padding: 0 1rem;
  }

  .points-selected {
    flex: 1 0 30%;
    margin: auto;
    font-weight: lighter;
    padding: 0 1rem;
    text-align: right;
  }

  .buttons {
    flex: 0 1 auto;
    display: flex;

    .btn {
      margin-top: 0;
      border-left: 1px solid $triangleDark;
    }
  }
}

.game-over {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;

  span {
    margin: auto;

    strong {
      font-size: 3rem;
      font-weight: bold;
    }

    small {
      display: block;
      text-align: center;
    }
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 1px 1px;
}

.tile {
  background-clip: content-box;
  display: flex;
  flex: 1 0 auto;
  border-radius: 10%;
  border: 2px solid transparent;
  cursor: pointer;

  transition: background 0.5s;

  &.highlight {
    background-color: #e9e9e9;
    box-shadow: 0 !important;
  }

  &.active {
    background-color: #aaa;
  }

  &.active.highlight {
    background-color: #eee;
    box-shadow: 0 0 2px #000;
  }

  &.locked {
    animation: tile-lock 0.5s;
    animation-fill-mode: forwards;
  }

  img {
    padding: 0.5rem 0;
    width: 75%;
    height: 75%;
    margin: auto;
  }
}

.shape-0 {
  &.active {
    background-color: $squareLight;
  }
}

.shape-1 {
  &.active {
    background-color: $triangleLight;
  }
}

.shape-2 {
  &.active {
    background-color: $circleLight;
  }
}

@keyframes tile-lock {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(15, 15);
    background-color: transparent;
    position: relative;
    z-index: 10;

    opacity: 0.4;
  }
  100% {
    position: static;
    opacity: 0.15;
    transform: scale(1, 1);
  }
}

@media(max-width: 400px) {
  .landscape-warning {
    display: block;
    text-align: center;
    padding: 2rem;
  }

  #game {
    display: none !important;
  }
}

@media(max-width: 1024px) {
  body {
    background-color: #fff;
  }

  .hidden-desktop {
    display: block;
  }

  #game {
    display: flex;
    margin: 0;
  }

  .game-init {
    margin: auto !important;
  }

  .instructions {
    overflow: scroll;
  }

  .instruction-col {
    margin: 1.5rem 0;
  }

  .instruction-text {
    display: block;
  }

  .game-gui {
    flex-direction: row-reverse;
  }

  .info {
    flex-direction: column-reverse;

    .points-total, .points-selected {
      padding: 1rem;
      margin: 0;
      text-align: left;
    }

    .points-total {
      justify-content: flex-end;
      flex-grow: 0;
    }

    .btn {
      padding: 1rem 1.5rem;
    }
  }

  .tile img {
    padding: 0;
  }
}

@media(min-width: 1050px) {
  #game {
    max-width: 550px;
  }
}