$square: #FFCC00;
$triangle: #C837B1;
$circle: #71C837;

$squareLight: lighten($square, 20%);
$triangleLight: lighten($triangle, 20%);
$circleLight: lighten($circle, 20%);

$squareDark: darken($square, 10%);
$triangleDark: darken($triangle, 10%);
$circleDark: darken($circle, 10%);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  background-color: #151515;
  overflow: hidden;
}

.instructions {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  z-index: 999;
}

.instruction-text {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

.instruction-col {
  padding: 0 2rem;
}

table {
  border-collapse: collapse;
  font-size: 80%;
}

table td, table th {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.btn {
  background-color: #C837B1;
  color: #fff;
  border: 0;
  border-radius: 1px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  margin: 1rem 0 0 0;
  padding: 1rem;
  cursor: pointer;
}

#game {
  margin: auto;
}

.menu-gui {
  background-color: #fff;
  padding: 2rem;
}

.info {
  background-color: #eee;
  color: #222;
  display: flex;
  border-radius: 1px 1px 0 0;

  .points-total {
    flex: 1 0 10%;
    margin: auto;
    font-weight: bold;
    padding: 0 1rem;
  }

  .points-selected {
    flex: 1 0 30%;
    margin: auto;
    font-weight: lighter;
    padding: 0 1rem;
    text-align: right;
  }

  .buttons {
    flex: 0 1 auto;

    .btn {
      margin-top: 0;
    }
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 1px 1px;
}

.tile {
  background-clip: content-box;
  display: flex;
  flex: 1 0 auto;
  border-radius: 10%;
  border: 2px solid transparent;

  transition: background 0.5s;

  &.highlight {
    background-color: #e9e9e9;
    box-shadow: 0 !important;
  }

  &.active {
    background-color: #aaa;
  }

  &.active.highlight {
    background-color: #eee;
    box-shadow: 0 0 2px #000;
  }

  &.locked {
    animation: tile-lock 0.5s;
    animation-fill-mode: forwards;
  }

  span {
    display: block;
    margin: auto;
  }
}

.shape-0 {
  span {
    background-color: $square;
    width: 20px;
    height: 20px;
  }

  &.active {
    background-color: $squareLight;

    span {
      background-color: $squareDark;
    }
  }
}

.shape-1 {
  span {
    border-bottom: 20px solid $triangle;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  &.active {
    background-color: $triangleLight;

    span {
      border-bottom-color: $triangleDark;
    }
  }
}

.shape-2 {
  span {
    background-color: $circle;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }

  &.active {
    background-color: $circleLight;

    span {
      background-color: $circleDark;
    }
  }
}

@keyframes tile-lock {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(15, 15);
    background-color: transparent;
    position: relative;
    z-index: 10;

    opacity: 0.4;
  }
  100% {
    position: static;
    opacity: 0.15;
    transform: scale(1, 1);
  }
}